language: php

php:
 - '5.5'

sudo: false

before_script:
 - composer install
 - pyrus install pear/PHP_CodeSniffer
 - phpenv rehash

script:
 - vendor/bin/phpunit --color tests
 - phpcs --standard=PSR2 src/ tests/
